.nodejs-comment-latest-comments .list-group {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;

    max-height: 300px;
    overflow-y: auto;
}

.nodejs-comment-latest-comments .list-group-item {
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    border: none;
    border-left: 3px solid #428bca;
}

.nodejs-comment-latest-comments .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nodejs-comment-latest-comments .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.nodejs-comment-latest-comments .list-group-item .list-group-item-text {
    font-size: 12px;
}
